# Dependency directories
node_modules/

# Webpack directory
.webpack

# Build directory
.build

# Serverless directories
.serverless/

# dotenv environment variables files
.env
.env*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# development stuff not checked in
private/
*.pem
deploy-dev.sh
deploy-prod.sh

# Only visible to licensees
serverless.yml
README.licensee.md
